APP_BASE_PATH=/Inventra/public
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=inventra
DB_USER=root
DB_PASS=
SEED_MANAGER_EMAIL=manager@inventra.local
SEED_MANAGER_USERNAME=manager
SEED_MANAGER_PASSWORD=password
